body {
  font-family: 'Noto Serif Bengali', sans-serif;
}

.tab-content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  overflow-y: auto;
  padding-bottom: 2px;
}

.tab-content.active-tab {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
