body {
  font-family: 'Tiro Bangla', sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 #f1f1f1;
}

.tab-content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  overflow-y: auto;
  padding-bottom: 2px;
}

.tab-content.active-tab {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
